<footer class="flex flex-col gap-2 sm:flex-row py-6 w-full shrink-0 items-center px-4 md:px-6 border-t border-slate-200 bg-white">
  <p class="text-xs text-slate-500">© 2024 Ayuntamiento de Boca del Río. Todos los derechos reservados.</p>
  <nav class="sm:ml-auto flex gap-4 sm:gap-6">
    <a class="text-xs hover:underline underline-offset-4" href="#">Términos de Servicio</a>
    <a class="text-xs hover:underline underline-offset-4" href="#">Privacidad</a>
     <a  routerLink="/admin-panel" routerLinkActive="text-blue-600" class="text-slate-600 text-base font-medium leading-normal hover:text-blue-600 transition-colors">Administracion</a> 

  </nav>
</footer>